- @global_lists = List.where(:user_id => nil)
- @personal_lists = List.where(:user_id => current_user.id)
- tab_select = ["tasks", "accounts", "leads", "contacts", "opportunities", "comments"]
- users = active_users
#lists
  = render "lists/sidebar", lists: @global_lists
  - if current_user.admin? && tab_select.include?(@current_tab)
    = render 'lists/sidebar_users', users: users
  = render "lists/sidebar", lists: @personal_lists, personal: true
