.filters#filters
  .caption= '团队' + t("tab_#{@current_tab}")
  %ul
    - if users.none?
      %div #{t :no_saved_lists}
    - else
      - users.each_with_index do |item, i|
        %li[item]{ :class => i < users.size - 1 ? "" : "last" }
          %tt= link_to(truncate(item.name, :length => 25),entity_render_datas_user_path(item.id,@current_tab))
