= styles_for :opportunity

#create_opportunity{ hidden }

- if @team_users.present?
  %ul
    - @team_users.each do |user|
      = render :partial => "user_information",:locals => {:user => user}


- else
  = t(:no_activity_records)
